<link rel="stylesheet" href="/css/Acercade.css">
<title>Acerca de nosotros</title>
</head>

<body>
  {{> header}}

  <div class="card text-center">
    <div class="card-header">
      ACERCA DE NOSOTROS
    </div>
    <div class="card-body">
      <div class="row titulo col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <span class="vianco col-xl-6 col-lg- col-md-6 col-sm-6">VianCo</span><span
          class="lab col-xl-6 col-lg- col-md-6 col-sm-6">-Lab</span></a></h1>
      </div>

      <div class="contenedorA col-md-10">
        <br> <h1>¿Quienes somos?</h1> <br>
        <div class="row">
          <img class="col-md-3 imgV" src="https://vianco.uaemex.mx/wp-content/uploads/2020/05/vianco13about-360x239.png" alt="">
          <p class="col-md-9 card-text">VianCo-Lab “Donde la biología encuentra a la computación” Es un laboratorio de
          investigación en las ciencias computacionales, sus principales líneas de investigación son: visión artificial,
          inteligencia artificial distribuida, computo evolutivo, sistemas multi-agentes, computo ubicuo todo esto
          basado en los sistemas biológicos. El laboratorio se crea en las intalaciones de la Facultad de Ingeniería de
          la Universidad Autónoma del Estado de México. <br>
           El laboratorio inicia formalmente sus actividades en 2011 una ves creado el programa de Maestría y Doctorado
          en Ciencias de la Ingeniería con acentuación en computación.
          </p> 
          <p>
          Los primeros trabajos realizados son en las áreas
          de la Inteligencia Artificial, sistemas distribuidos visión computacional. Alianzas con otros laboratorios
          tanto nacionales como internacionales dan fortaleza a las investigaciones al interior de Vianco-Lab.

          Conforme la ciencia evoluciona y las necesidades computacionales son mas complejas, lo que hace que a partir
          de 2018 las propuestas de solución a problemas complejos se sustenten en teorías evolutivas y procesos
          biológicos del cerebro.</p>
           <a href="https://vianco.uaemex.mx/" target="_blank" class="btn btn-primary">Ir a vianco-lab</a>
          </div> 
      </div>
      <img
        src="https://vianco.uaemex.mx/wp-content/uploads/2023/05/WhatsApp-Image-2023-05-19-at-1.29.15-PM-3-1024x766.jpeg"
        alt="">
 
    </div>
   
      
  </div>