
  <div class="head container-fluid">
        <!-- Barra navegacion-->
        <nav class="navbar navbar-custom navbar-expand-md " id="NavVar col-lg-12 col-md-12 col-sm-12" >
            <div class="container-fluid contenedor-hed">
                <a href="/Principal">
                <img src="https://vianco.uaemex.mx/wp-content/uploads/2020/05/Vianco-logo.png" alt=""
                    class="logoPrincipal" >
                    </a>

                <button type="button" class="navbar navbar-toggler col-sm-4" data-bs-toggle="collapse"
                    data-bs-target="#MenuNavegacion">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div id="MenuNavegacion" class="collapse navbar-collapse justify-content-between">
                    <ul class="navbar-nav ms-5 ">
                        <li class="nav-item"><a class="nav-link " href="/Principal">INICIO</a></li>
                        <li class="nav-item"><a class="nav-link " href="/AcercaDe">ACERCA DE</a></li>
                        {{!--<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle lnk" href="#" role="button"
                                data-bs-toggle="dropdown">MODIFICACIONES</a>
                            <ul class="dropdown-menu">
                                <li><a href="/Modificaciones/Personas" class="dropdown-item ">ALTAS</a></li>
                              </ul>
                        </li> --}}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button"
                                data-bs-toggle="dropdown">FORMATOS</a>
                            <ul class="dropdown-menu">
                                <li><a href="/1Evaluacion" class="dropdown-item">1° Evaluacion</a></li>
                                <li><a href="/2Evaluacion" class="dropdown-item">2° Evaluacion</a></li>
                                <li><a href="/3evaluacion" class="dropdown-item">3° Evaluacion</a></li>
                                <li><a href="/Formatos/4Evaluacion" class="dropdown-item">4° Evaluacion</a></li>
                                <li><a href="/5Evaluacion" class="dropdown-item">5° Evaluacion</a></li>
                                <li><a href="/6Evaluacion" class="dropdown-item">6° Evaluacion</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav justify-content-end">
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">{{user.nombres}} {{user.primerApellido}} {{user.segundoApellido}}</a>
                            <ul class="dropdown-menu dropdown-menu-end">

                                <li class="ImagenLogo"><a href="#" class="dropdown-item"><img
                                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/800px-User_icon_2.svg.png"
                                            height="80px" alt=""></a></li>
                                <li><a href="/Usuario/Ajustes" class="dropdown-item">Ajustes</a></li>
                                <li><a href="/login" class="dropdown-item">cerrar session</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>


        </nav>
    </div>
    