<title>Principal</title>
</head>
<body>
    {{> header}}

  <div class="carrusell col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
    <div class="row titulo col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <span class="vianco col-xl-6 col-lg- col-md-6 col-sm-6">VianCo</span><span
        class="lab col-xl-6 col-lg- col-md-6 col-sm-6">-Lab</span></a></h1>
    </div>

    <div class="row imgscr col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
      <div class="col-2">
      </div>
      <div class="col-8 mb-5 col-lg-8 col-md-8 col-sm-8">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://vianco.uaemex.mx/wp-content/uploads/2021/03/vianco01.jpg" class="d-block w-100"
                alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://vianco.uaemex.mx/wp-content/uploads/2022/11/Captura-de-pantalla-370.png"
                class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://vianco.uaemex.mx/wp-content/uploads/2022/01/Maestri%CC%81a-MCI2022.png"
                class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://vianco.uaemex.mx/wp-content/uploads/2022/08/WhatsApp-Image4-360x270.jpeg"
                class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

    </div>
    <!-- tarjeta con imagen-->
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">VianCo-Lab Origen</h5>
        <p class="card-text">VianCo-Lab “Donde la biología encuentra a la computación” Es un laboratorio de
          investigación en las ciencias computacionales, sus principales líneas de investigación son: visión
          artificial, inteligencia artificial distribuida, computo evolutivo, sistemas multi-agentes, computo
          ubicuo todo esto basado en los sistemas...</p>
        <p class="card-text"><small class="text-muted">2023</small></p>
      </div>
      <img src="https://vianco.uaemex.mx/mdcica/images/2021/10/26/fi-ittca.png" class="card-img-bottom" alt="...">
    </div>
  </div>